 @{
    ViewData["Title"] = "Configuracion";
}
 
<section class="configuracion">
    <div class="contenedor-config">
        <h1>CONFIGURACION</h1>

        <form action='@Url.Action("Comenzar")' method="post">
            <select class="form-select" name="dificultad" aria-label="Default select example" required>
                <option value="">Dificultad:</option>
                @foreach(Dificultad dif in ViewBag.Dificultades)
                {
                    <option class="opcion" value="@dif.IdDificultad">@dif.Nombre</option>
                }
            </select>

            <select class="form-select" name="categoria" aria-label="Default select example" required>
                <option value="">Categoría:</option>     
                
                @foreach (Categoria cat in ViewBag.Categorias)
                {
                    <option class="opcion" value="@cat.IdCategoria">@cat.Nombre</option>
                }
            </select>

            <div class="form-floating mb-3" >
                <input required type="text" name="Username" class="form-control" id="floatingInput-sizing-sm" placeholder="" autocomplete="off">
                <label for="floatingInput">Username</label>
            </div>
            
            <input class="btn btn-outline-light" type="submit" value="COMENZAR">
        </form>
    </div>
</section>