<section class="jugar">

    <h3>@ViewBag.Username</h3>
    <h3 class="puntos">Puntos: @ViewBag.Puntos</h3>


    <div class="contenedor-preguntas">
        <div class="card-pregunta">
            <div class="pregunta">
                <h4>@ViewBag.Preguntas.Enunciado</h4>
            </div>
            <div class="img-pregunta">
                <img src=@ViewBag.Preguntas.Foto alt="">
            </div>
        </div>
        
        <div class="respuestas">
            <form action='@Url.Action("VerificarRespuesta", new { idPregunta = ViewBag.Preguntas.IdPregunta })' method="post">
                
                <div class="contenedor-opciones">
                    <div class="opciones">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="idRespuesta" id="exampleRadios1" value="@ViewBag.ListaRtas[0].IdRespuesta" checked>
                            <label class="form-check-label" for="exampleRadios1">@ViewBag.ListaRtas[0].Contenido</label>
                        </div>
                    </div>
                    <div class="opciones">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="idRespuesta" id="exampleRadios1" value="@ViewBag.ListaRtas[1].IdRespuesta" checked>
                            <label class="form-check-label" for="exampleRadios1">@ViewBag.ListaRtas[1].Contenido</label>
                        </div>
                    </div>
                </div>

                <div class="contenedor-opciones">
                    <div class="opciones">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="idRespuesta" id="exampleRadios1" value="@ViewBag.ListaRtas[2].IdRespuesta" checked>
                            <label class="form-check-label" for="exampleRadios1">@ViewBag.ListaRtas[2].Contenido</label>
                        </div>
                    </div>
                    <div class="opciones">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="idRespuesta" id="exampleRadios1" value="@ViewBag.ListaRtas[3].IdRespuesta" checked>
                            <label class="form-check-label" for="exampleRadios1">@ViewBag.ListaRtas[3].Contenido</label>
                        </div>
                    </div>
                </div>         

                          
                <button type="submit" class="btn btn-outline-success">Verificar respuesta</button>
            </form>
        </div>
        

    </div>

</section>